name: Push event

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Publish test
      env:
        MERCURE_HUB_URL: https://demo.mercure.rocks/.well-known/mercure
        MERCURE_HUB_JWT: eyJhbGciOiJIUzI1NiJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdLCJzdWJzY3JpYmUiOlsiZm9vIl19fQ.RzPesAFIR9wzBDyz14-WNBrX1Z-I7aO2oXXUa6D3Yu8
        MERCURE_TOPICS: foo
        MERCURE_TYPE: message
        # MERCURE_PRIVATE: on
      uses: ./
      with:
        args: '{ \"repo\": \"https://github.com/Ilshidur/action-mercure\", \"action\": \"{{ GITHUB_ACTION }}\", \"description\": \"Please star this project ! :-)\" }'
