name: Star notification

on:
  watch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Star notif. test
      env:
        MERCURE_HUB_URL: https://demo.mercure.rocks/hub
        MERCURE_HUB_JWT: ${{ secrets.MERCURE_HUB_JWT }}
        MERCURE_TOPICS: foo
      uses: ./
      with:
        args: '{ \"repo\": \"https://github.com/Ilshidur/action-mercure\", \"action\": \"{{ GITHUB_ACTION }}\", \"description\": \"Thank you for the STAR ! :-)\" }'
